.tesimonials {
    background-color: #3f4049;
    padding: 150px 150px;
}

.slider-testimonials {
    position: relative;
    padding: 0 60px;
}

.testimoinals-intro {
    display: flex;
    justify-content: center;
}

.testimonials__title-intro {
    text-align: center;
    margin-bottom: 80px;
}

.testimonials__title {
    font-family: 'Libre Baskerville', serif;
    font-size: 49.9px;
    font-weight: 700;
    color: #ffffff;
}

.testimonials__title-text {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;
    padding-top: 21px;
}

.slider-middle {
    display: flex;
    flex-direction: column;
    margin-top: 79px;
}

.testimonials__person-intro {
    padding: 45px 40px;
    margin-top: 45px;
    background-color: #ffffff;
    height: 312px;
    display: inline-block;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #fc5f45;
}

.testimonials__person-text {
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #616161;
    line-height: 27px;
}

.testimonials__person-signature {
    font-family: 'Sacramento', cursive;
    font-size: 40px;
    font-weight: 400;
    color: #272727;
    margin-top: 30px;
    margin-bottom: 20px;
}

.testimonials__person-fio {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    color: #272727;
}

.testimonials__person-position {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    font-weight: 400;
    color: #fc5f45;
    margin-top: 10px;
}

.slick-slide img {
    display: inline-block;
}


/* slick slider */

.slider-testimonials .slick-list {
    overflow: hidden;
}

.slider-testimonials .slick-track {
    display: flex;
    align-items: flex-start;
}

.slider-testimonials .slick-dots {
    display: Flex;
    align-items: center;
    justify-content: flex-end;
    transform: translateY(-25px);
}

.slider-testimonials .slick-dots li {
    list-style: none;
    margin: 0 6px;
}

.slider-testimonials .slick-dots button {
    font-size: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #fff;
    cursor: pointer;
}

.slider-testimonials .slick-dots li.slick-active button {
    border: 1px solid #fc5f45;
    background: radial-gradient(#fc5f45 30%, transparent 50%);
}